{% extends 'Python101/base.html' %}
{% load str_funcs %}
{% load static %}

{% block other_buttons %}
<a href="{% url 'coding:writecode' %}">
    Write Code
</a>
{% endblock %}

{% block content %}

{% if codeblocks %}
{% for cb in codeblocks %}
<div class="section">
    <h3>
        #{{ forloop.counter }}, "{{ cb.name }}":
    </h3>
    <div class="code_desc">
    <p>
        {{ cb.desc }}
    </p>
    <pre><code class="lang-py3" >{% for line in cb.code|formatcode %}{{ line }}{% endfor %}</code></pre>
    </div>
</div>

{% endfor %}
{% else %}
<h3>
    No code blocks available...
</h3>
{% endif %}

{% endblock %}