{% extends 'webchat/base.html' %}
{% load file_name_filter %}



{% block content %}
<main role="main" class="container">
    <div class="container jumbotron logs-container">
    {% for filelog in filelogs %}
        <div id="message-{{ forloop.counter }}" class="logs">
            <a class="lead disabled" href="#">{{ filelog.user }}, {{ filelog.pub_date }}:</a>
          <p class="lead ">{{ filelog.file.name|norm_name }}, <a href="{{ filelog.file.url }}">Download</a></p>
        </div>
        <hr />
    {% empty %}
        <h2>No files found.</h2>
    {% endfor %}
    </div>

    <form id="input-box" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="fileupload">Upload your file here:</label>
            <input type="file" class="form-control-file" id="fileupload" name="file" />
            <button class="btn btn-lg btn-success" type="submit" name="submit" style="margin-left: 0.2rem; margin-top: 0.5rem">Upload</button>
        </div>
    </form>
</main>
{% endblock %}
